<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot02webthymeleaf.dao.StarMapper">

    <insert id="insert" parameterType="com.example.springboot02webthymeleaf.pojo.Star">
        insert into star
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{age,jdbcType=INTEGER})
    </insert>

    <select id="selectAll" resultType="com.example.springboot02webthymeleaf.pojo.Star" >

        select *
        from star


    </select>
    <select id="selectById" resultType="com.example.springboot02webthymeleaf.pojo.Star"  >

        select *
        from star
        where id=#{id}


    </select>
    <delete id="deleteById" parameterType="com.example.springboot02webthymeleaf.pojo.Star"  >

        delete from star
        where id=#{id}


    </delete>
</mapper>